/** Lists **/

.torrents>.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  position: relative;
  height: 125px;
  width: 520px;
  display: block;
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;
  background: white;
  box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
}

.list-item .title {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  text-transform: lowercase;
  word-wrap: break-word;
}

.list-item .provider {
  display: block;
  font-size: 11px;
  line-height: 16px;
}

.list-item .bottom {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #eee;
  font-size: 13px;
}

.list-item .meta-info-left {
  position: absolute;
  top: 0;
  left: 20px;
  line-height: 40px;
}

.list-item .meta-info-right {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 40px;
}

.list-item .peers {
  vertical-align: middle;
  margin: 0 10px;
  color: #8DC63F;
}

.list-item .seeds {
  line-height: 21px;
  font-size: 13px;
  margin: 0 10px;
  vertical-align: middle;
}

.list-item .size {
  font-size: 13px;
  vertical-align: middle;
  margin: 0 10px;
}

.list-item .time {
  font-size: 13px;
  vertical-align: middle;
}
